* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

nav ul {
  display: flex;
  width: 500px;
  justify-content: space-between;
  list-style: none;
}

nav ul a {
  text-decoration: none;
}

nav ul a:hover {
  font-weight: bold;
  color: #808080;
}

main {
  margin: 0px auto;
  min-height: 85vh;
  max-width: 80vw;
}

h1,
h2,
h3 {
  color: #006d6f;
  font-family: "Gravitas One", serif;
}

/* #recommendations {
  display: flex;
}

#recommendations section {
  max-width: 30vw;
  padding: 0px 20px;
  margin: 0px 15px;
  border: 1px solid #808080;
  border-radius: 12px;
  box-shadow: 0px 6px 10px #808080;
} */

#recommendations section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
  width: 100%;
}

#recommendations article {
  padding: 0px 15px;
}

#recommendations aside {
  border: solid 1px #808080;
  padding: 0px 15px;
  max-width: 20vw;
}

#recommendations img {
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0px 6px 10px #808080;
}

#profile {
  max-width: 400px;
  border: 2px solid darkgray;
  padding: 16px 30px;
  border-radius: 10px;
  margin: 50px auto;
  box-shadow: 0px 6px 10px #808080;
}

#profile img {
  margin: 0px 100px;
}

#profile h1 {
  text-align: center;
}

#future {
  display: flex;
}

#future section {
  border: 1px solid #808080;
  padding: 8px 20px;
  margin: 0px 10px;
  border-radius: 12px;
  box-shadow: 0px 6px 10px #808080;
}

footer {
  text-align: center;
}
