* {
  box-sizing: border-box;
}

.card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 16px;
  border: 1px solid #7D0552;
}

button {
  background-color: #348781;
  padding: 6px;
}

/* 1. Apply a border-radius to soften the card and button. */
/* 2. Add a subtle box-shadow to lift the card off the background. */
/* 3. Implememnt a linear-gradient background on the button. */
/* 4. Create a :hover state that makes the button lift toward the user. */
/* 5. Use background-size: cover to perfectly fit the card's header image. */