/* gryffindorRed = #ac0001;
slytherinGreen = #2a623d;
ravenclawBlue = #222f5b;
hufflepuffCanary = #ccb939; */

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  min-height: 100dvh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(120deg, #ac0001, #ccb939, #2a623d, #222f5b);
  color: #333;
}

main {
  flex-grow: 1;
  margin: 60px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

#quoteBtn {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #ac0001;
  color: #ccb939;
  padding: 10px 24px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 6px 12px #808080;
  display: flex;
  justify-self: center;
}

#displayQuote {
  font-size: 3rem;
  font-weight: normal;
  margin: 140px 80px;
}

p {
  margin: 10px 20px;
  text-align: end;
}