* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
}

.hamburger-btn {
  margin: 20px 10px;
}

.hamburger-btn .bar {
  display: flex;
  width: 25px;
  height: 3px;
  background-color: #808080;
  border-radius: 2px;
  margin: 2px;
}

nav ul {
  /* display: flex;
  width: 500px;
  justify-content: space-between;
  list-style: none; */
  display: none;
}

nav ul a {
  text-decoration: none;
  /* color: #ff7b7b; */
  color: #e56f0d;
  transition: .3s ease-out;
}

nav ul a:hover {
  font-weight: bold;
  color: #808080;
  border-bottom: 2px solid #e56f0d;
}

nav button {
  border-radius: 50px;
  background-color: #e56f0d;
  color: white;
  font-weight: bold;
  border: none;
  padding: 16px;
  margin: 16px;
  animation: dance 2.5s ease-in-out infinite;
}

main {
  margin: 0px auto;
  min-height: 85vh;
  max-width: 80vw;
}

h1,
h2,
h3 {
  color: #006d6f;
  font-family: "Gravitas One", serif;
}

#recommendations section {
  margin: 50px 0px;
  width: 100%;
}

#recommendations article {
  padding: 0px 15px;
}

#recommendations aside {
  padding: 0px 15px;
}

#recommendations img {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0px 6px 10px #808080;
}

#profile {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border: 2px solid darkgray;
  padding: 16px 30px;
  border-radius: 10px;
  margin: 50px auto;
  box-shadow: 0px 6px 10px #808080;
}

#profile img {
  margin: 0px auto;
}

#profile h1 {
  text-align: center;
}

#future section {
  border: 1px solid #808080;
  padding: 8px 20px;
  margin: 20px 10px;
  border-radius: 12px;
  box-shadow: 0px 6px 10px #808080;
}

#blog article {
  margin: 60px 0px;
}

#portfolio {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: start;
}

#portfolio img {
  max-width: 100%;
  display: block;
  border-radius: 4px;
}

#portfolio section {
  padding: 20px;
  border: 1px solid #808080;
  border-radius: 4px;
  box-shadow: 0px 6px 12px #808080;
  transition: .3s ease-out;
}

#portfolio section:hover {
  transform: scale(1.05)
}

footer {
  text-align: center;
}

@media (min-width: 768px) {
  .hamburger-btn .bar {
    display: none;
  }

  nav ul {
    display: flex;
    width: 500px;
    justify-content: space-between;
    list-style: none;
  }

  #recommendations section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #recommendations aside {
    border: solid 1px #808080;
    max-width: 20vw;
  }

  #recommendations img {
    max-width: 400px;
  }

  #future {
    display: flex;
  }

  #future section {
    margin: 0px 10px;
  }

  #future section {
    border: 1px solid #808080;
    padding: 8px 20px;
    margin: 0px 10px;
    border-radius: 12px;
    box-shadow: 0px 6px 10px #808080;
  }

  #portfolio {
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width: 1024px) {
  #portfolio {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@keyframes dance {
  0% { transform: scale(1) rotate(0deg)}
  25% { transform: scale(1.2) rotate(20deg)}
  50% { transform: scale(1) rotate(0deg)}
  75% { transform: scale(1.2) rotate(-20deg)}
  100% { transform: scale(1) rotate(0deg)}
}
