* {
  box-sizing: border-box;
}

body {
  background-color: pink;
  font-family: "Roboto", sans-serif;
}

#box-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  padding: 0px 100px;
}

#box1 {
  background-color: green;
}

#box2 {
  background-color: blue;
}

#box3 {
  background-color: orange;
}

.box {
  width: 350px;
  border: 2px black solid;
  padding: 20px;
  border-radius: 10px;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 400px;
}

ul a {
  text-decoration: none;
}

