* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

.main-header {
  background-color: #ffe599;
  padding: 20px;
  text-align: center;
}
.hero-image {
  background-color: #a4c2f4;
  padding: 60px 20px;
}
.sidebar-quote {
  background-color: #ea9999;
  padding: 20px;
  font-style: italic;
  font-size: 2.85rem;
  display: flex;
  align-items: center;
}
article {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
}

p {
  margin: 8px 0px;
}

/* I need to remove the rest before giving to students. */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-areas:
    "header header header"
    "hero   hero   sidebar"
    "art1   art2   art3";
}

.main-header {
  grid-area: header;
}
.hero-image {
  grid-area: hero;
}
.sidebar-quote {
  grid-area: sidebar;
}
.article-1 {
  grid-area: art1;
}
.article-2 {
  grid-area: art2;
}
.article-3 {
  grid-area: art3;
}
