* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #ffb605;
  padding: 60px;
  color: #0b0b0b;
}

main {
  padding: 40px;
  background-color: white;
  border-radius: 12px;
  height: 80vh;
}

h1 {
  text-align: center;
}

#inputArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#listItem {
  font-size: 1.2rem;
  padding: 8px 14px;
  border-radius: 4px;
}

#addBtn {
  background-color: 	#ff43e4;
  font-size: 1.3rem;
  padding: 8px 14px;
  border-radius: 4px;
  box-shadow: 0px 6px 12px #6b6b6b;
}

#addBtn:hover {
  background-color: #6b6b6b;
  color: #ff43e4;
  transform: scale(1.1);
}

#todoList {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-width: 30%;
  margin: 20px auto;
}

#todoList button {
  margin-left: 20px;
  padding: 6px;
  font-weight: bold;
  color: red;
  background-color: #6b6b6b;
  border-color: #6b6b6b;
  box-shadow: 0px 6px 12px #6b6b6b;
  border-radius: 4px;
}

#todoList button:hover {
  color: #0b0b0b;
  transform: scale(1.1);
}

li {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}