*{
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: #3b3b3b;
}

body {
  background-color: #3b3b3b;
  margin: 60px;
}

main {
  background-color: white;
  min-height: 85vh;
  border-radius: 12px;
}

#quizBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#score {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
}

#quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}

#gameTitle {
  font-size: 4rem;
}

#startBtn {
  font-size: 1.2rem;
  background-color: teal;
  color: #222;
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0px 6px 12px #808080;
}

#answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.answerBtn {
  background-color: teal;
  color: #222;
  min-width: 40%;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0px 6px 12px #808080;
}

.answerBtn:hover {
  color: white;
  font-weight: bold;
}

/* #aA {
  background-color: blue;
}

#aB {
  background-color: yellow;
}

#aC {
  background-color: green;
}

#aD {
  background-color: red;
} */